[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "lxml>=6.0.2",
    "onnxruntime>=1.23.2",
    "pillow>=12.0.0",
    "rembg>=2.0.67",
    "requests>=2.32.5",
]
