<div class="product__description {% if block.settings.noMargin or noMargin %}margin__bottom--reduced{%endif-%}{% if settings.easeIn %} ease-in{% endif %}" {{block.shopify_attributes}}>
  {{ form | payment_terms }}
</div>